.app--container{
    height: 100%;
}

.app--options-area{
    height: 160px;
    border: 1px solid black;
    margin: 32px;
}

.app--display-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.app--display-area > *{
    margin: 8px;
}