.app--container{
    height: 100%;
}

.app--options-area{
    margin: 32px;
    display: flex;
    justify-content: space-between;
}

.app--display-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.app--display-area > *{
    margin: 8px;
}

