body {
    font-family: sans-serif;
    height: 100%;
    -webkit-print-color-adjust: exact;
}

html {
    height: 100%;
}

#root {
    height: 100%;
}

@media print{
    .no-print{
        display: none;
    }
}